################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Aviadispetche/obj/x86/Debug
/Aviadispetche/obj/x86/Release
